# Default ignored files
/shelf/
/workspace.xml
#compiled python files
*.pyc
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#Databases
*.sqlite
